*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgb(80, 55, 149),rgba(39, 5, 54, 0.884)), url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 1px;
    align-items: center;
}
nav img{
    width: 400px;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 45px;
    /*color: #ECD662;*/
    color: transparent;
    -webkit-text-stroke: 1px #ECD662;
    background: url(images/brand.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 18px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ECD662;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: #422E59;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #443347;
    background: #F7DC79;
    transition: 1s;
    color: #422E59;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}

/*------ about -----*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about h1{
    font-size: 30px;
    font-weight: 600;
    color: #3E215D;
}
.about p{
    color: #3E215D;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #C6B4CE;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 2%;
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #3E215D;
}
.course-col p{
    color: #3E215D;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(39, 5, 54, 0.884);
}
@media(max-width: 834px){
    .row{
        flex-direction: column;
    }
}

/*-------- Information ------*/

.info{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.info .close{
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgb(75, 66, 100),rgba(93, 56, 109, 0.884)), url(images/cover.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.info h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-top: 20px;
}
.countdwn{
      color: rgb(234, 223, 243);
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 20px;
      margin-top: 2%;
}
 
/*------------ Study ---------*/
.study{
    width: 80%;
    margin: 100px auto;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}
.study-col{
    flex-basis: 31%;
    border-radius: 30px;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-top: 3%;
    text-align: left;
    position:relative;
    overflow: hidden;
    height: 350px;

    background: #C6B4CE;
    padding: 10px 12px;
    box-sizing: border-box;
}

.study-col h3{
    color: #422E59;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}
.study-col h4{
    color: #867f97;
    text-align: center;
    font-size: 14px;
}
.study-col h4::after{
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 90px;
    background: #5D8233;
    height: 3px;
}
.study-col h5{
    color: #867f97;
    text-align: center;
    font-size: 14px;
}
.study-col p{
    color: #867f97;
    text-align: center;
    margin-bottom: 5%;
}
@media(max-width: 834px){
    .study .row {
         width: 100% ;
     }
 }



/*----------- Testimonials -------*/
.cont{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}


#testimonials .cont .testimonials-box{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    max-height: 600px;
    /*min-height: 380px;*/
    margin: 10rem auto 0 auto; /*Space between the boxes ^^*/
}

#testimonials .cont .testimonials-box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F1F0F4;
    opacity: 0.5;
    z-index: -1;
    border-radius: 10px;
}

#testimonials .cont .testimonials-box .testimonial-photo{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
} 
#testimonials .cont .testimonials-box .testimonial-photo img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


#testimonials .cont .testimonials-box h3{
    color: #422E59;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-top: 7rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

#testimonials .cont .testimonials-box p{
    color: rgb(14, 13, 13);
    font-size: 1rem;
    line-height: 3rem;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 3.2rem;
}


/*@media(max-width: 1045px){
   .cont {
        width: calc(50% - 10px);
        margin: 10px 0;
    }
}*/
@media(max-width: 834px){
    .cont {
         width: 100% ;
         flex-direction: column;
     }
 }


/*---------------- FAQ ------------*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

/*Section used for centering process*/
.faq{
    width: 100%;
    height: 90vh;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}
.faq h1{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 2%;
    color: #284E78;
}
.faq h1::after{
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 150px;
    background: #ECD662;
    height: 4px;
}
.container{
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    vertical-align: baseline;
}
.accordion-item{
    border-radius: .4rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    border: 1px solid #d4d4d4;
    border-width: 2px;
    border-top: none;
}
.accordion-link{
    font-size: 1rem;
    color: #422E59;
    text-decoration: none;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordion-link ion-icon{
    color: #422E59;
    padding: .5rem;
}

.accordion-link .remove-outline{
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #f7f7f7;
    transition: max-height 500ms;
    line-height: 1.6em;

}


.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 95%;
    background-color: #4b306e;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    color: #979CB2;
    font-size: 1rem;
    padding: 2rem;
}
.answer ul {
    margin: 10px 0 10px 20px;
    color: #979CB2;
    line-height: 1.6em;
    font-size: 1rem;
    padding-left: 2rem;
}

.accordion-item:target .answer{
    max-height: 30rem;
}
.accordion-item:target .accordion-link .add-outline{
    display: none;
}
.accordion-item:target .accordion-link .remove-outline{
    display: block;
}
@media(max-width: 834px){
    .container{
        flex-direction: column;
    }
}
/*------------ Footer---------*/

.footer{
    width: 100%;
    text-align: left;
    padding: 10px 20%;
    padding-top: 0;
    position:sticky;
    -webkit-position:sticky;
    bottom: 0;
    background: #F1F0F4;
    box-sizing: border-box;
    border-radius: 10%;

    
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    font-size: 14px;
}
@media(max-width: 834px){
    .footer{
        flex-direction: row;
    }
}